.content {
    display: flex;
    flex-wrap: wrap;
    width: 1480px;
    justify-content: space-between;
    margin: auto;
}
.product{
    position: relative;
    width: 340px;
    height: 520px;
    font-family: "Function Pro";
    font-style: normal;
    font-weight: normal;
    margin-bottom: 25px;
}

.product .anh1{width: 100%;}
.product .anh2{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    transition: 0.4;
}
.product:hover .anh2{
    opacity: 1;
}
.product .layer1{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.product .layer1 .trai{
    width: 50%;
}

.trai a{
    text-decoration: none;
    font-size: 22px;
    
}
.product .layer1 .phai{
    font-size: 18px;
    width: 50%;
    text-align: right;
}
.product .layer2{
    position: absolute;
    bottom: 20px;
    left:0;
    opacity: 1;
    transition: 0.4;
}
.product:hover .layer2{
    opacity: 0;
}
.product .layer3{
    
    position: absolute;
    bottom: 20px;
    left:0;
    opacity: 0;
    transition: 0.4;
}
.product:hover .layer3{
    opacity: 1;
}