.duoi {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.duoi a.khoinho {
    width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.duoi a.khoinho img.anh {
    width: 30px;
}
.duoi a.khoinho span.chu {

}