.bo {
    width: 600px;
    height: 600px;
    position: relative;
}
.bo .xoay {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 125px;
    left: 50%;

}
.bo .chinh {
    width: 392px;
    position: absolute;
    top: 242px;
    left: 375px;
}