.bo {
    width: 600px;
    height: 600px;
    position: relative;
}
.bo .xoay {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 125px;
    left: 50%;

}
.bo .chinh {
    width: 500px;
    position: absolute;
    top:75px;
    left: 75px;
}