ul.danhsach {
    list-style: none; /*bo dau cham*/
    display: flex;
}

.menutren {
    background-color: rgb(50, 221, 227);
    height: 30px;
    width: 900px;
    margin: auto;
    
}

ul.menungang {
    list-style: none; 
    display: flex;
    
}