._3cot {
    display: flex;
    width: 1852px;
}

._3cot ._cot1 {
    flex-wrap: wrap;
    width: 280px;
}

._3cot ._cot1 a {
    text-decoration: none;
    color: #000;
}

._3cot ._cot1 a:hover{
    text-decoration: underline;
    color: aqua;
}

._3cot ._cot1 img{
    width: 100%;
}