._3cot {
    display: flex;
    width: 1029px;
}

._3cot ._cot1 {
    flex-wrap: wrap;
}

._3cot ._cot1 a {
    text-decoration: none;
    color: #000;
}

._3cot ._cot1 a:hover{
    text-decoration: underline;
    color: aqua;
}